@import url("css/footer.css");
@import url("css/header.css");
@import url("css/produtos.css");

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
}

.home{
    width: 4vh;
    height: 4vh;
}

.propaganda{
    width: 49vh;
    height: 17vh;
}

.titulo{
    color: #ED9F0F;
    text-decoration-line: underline;
    top:0%;
    left:0%;
    transform: translate(5%,4%);

}

.square{
    background-color: #F0C0E6;
    border: solid 2px rgb(184, 116, 201);
    border-radius: 20px;
    padding: 5px;
    top:0%;
    left:0%;
    transform: translate(0%,-10%);
    color: #5e0071;
    margin: 10px;
}

.square2{
    background-color: #F0C0E6;
    border: solid 2px rgb(184, 116, 201);
    border-radius: 20px;
    padding: 5px;
    top:0%;
    left:0%;
    transform: translate(0%,10%);
    color: #5e0071;
    margin: 10px;
}