.cabecalho{
    background-color: #5e0071;
    align-items: center;
    padding: 0%;
}

.logo{
    width: 10vh;
    height: 10vh;
}

.home{
    width: 4vh;
    height: 4vh;
    top: 0vh;
    left:0vh;
    transform:translate(1vh,0vh);
}

.menu{
    width: 5vh;
    height: 5vh;
    top: 0vh;
    left:0vh;
    transform:translate(5vh,0vh);
}

.compras{
    width: 4vh;
    height: 4vh;
    top: 0vh;
    left:0vh;
    transform:translate(4vh,-0.2vh);
}
.pesquisa{
    width: 20vh;
    height: 3vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.1);
    position:relative;
    left: 25px;
}

#campo_pesquisa{
    width: 100%;
    height: 100%;
    border:none;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
}

.lupa{
    position: absolute;
    left: 0px;
    align-items: right;
    height: 100%;
}