*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
}

.imagens{
    width: 20vh;
    height: 20vh;
    top: 0%;
    left: 0%;
    transform: translate(10%, 10%);
    border: solid black 0.3vh;
}

.texto{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 0%;
    transform: translate(50%,-440%);
}

.texto_br{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 0%;
    transform: translate(50%,-220%);
}

.saiba_mais{
    top: 0%;
    left: 0%;
    transform: translate(100%,-290%);
    background-color: #F0C0E6;
    font-size: x-large;
    border: solid 2px rgb(184, 116, 201);
    border-radius: 20px;
    padding: 1px;
    color: #5e0071;
    margin: 10px;
    width: 23vh;
}

.like{
    width: 5vh;
    height: 5vh;
    top: 0px;
    left: 0px;
    transform: translate(30px,-40px);
}

.star{
    height: 1px;
    top: 0px;
    left: 0px;
    transform: translate(23px,-115px);
    height: 0.1vh;
}

.descrição_produto{
    width: 80%;
    height:80%;
    top: 0px;
    left: 0px;
    transform: translate(35px,20px);
    border: solid black;
}

.produto_nome{
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 0px;
    left: 0px;
    transform: translate(0px,50px);

}

.produto_descrição{
    text-align: center;
    top: 0px;
    left: 0px;
    transform: translate(0px,70px);
    font-size: x-large;
}

.tamanho_produto{
    top: 0%;
    left: 0%;
    transform: translate(10%,250%);
    background-color: #F0C0E6;
    font-size: x-large;
    border: solid 2px rgb(184, 116, 201);
    border-radius: 10px;
    padding: 1px;
    color: #5e0071;
    margin: 10px;
    width: 23vh;
}

.produto_alergenicos{
    text-align: center;
    top: 0%;
    left: 0%;
    transform: translate(0%,420%);
}

.preço{
    top: 0%;
    left: 0%;
    transform: translate(70%,210%);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.comprar{
        width: 30vh;
        height: 10vh;
        top: 0%;
        left: 0%;
        transform: translate(30%,150%);
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ED9F0F;
        border: solid black;
        border-radius: 15vh;

}